@model SchoolDbCsharp.Models.Teacher

@{
    ViewBag.Title = "Show";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a><br />
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.Teacherid">Delete</a>
        <a class="navlink" href="/Teacher/Update/@Model.Teacherid">Update</a>
    </nav>
    <h2>@Model.TeacherFName @Model.TeacherLName </h2>
    
</div>

